@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.card {
    backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.header-glass{
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-bottom:2px solid white;
}